/* Define variáveis globais e estilos padrão para o documento */
:root {
  /* Configurações de fonte e renderização */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* Fontes preferenciais */
  line-height: 1.5; /* Altura da linha */
  font-weight: 400; /* Peso padrão da fonte */

  /* Esquema de cores e cores padrão */
  color-scheme: light dark; /* Suporte para temas claro e escuro */
  color: rgba(255, 255, 255, 0.87); /* Cor do texto no tema escuro */
  background-color: #242424; /* Cor de fundo no tema escuro */

  /* Melhorias na renderização de fontes */
  font-synthesis: none; /* Desativa a síntese de fontes */
  text-rendering: optimizeLegibility; /* Otimiza a legibilidade do texto */
  -webkit-font-smoothing: antialiased; /* Suavização de fontes no WebKit */
  -moz-osx-font-smoothing: grayscale; /* Suavização de fontes no macOS */
}

/* Estilização de links */
a {
  font-weight: 500; /* Peso da fonte */
  color: #646cff; /* Cor padrão do link */
  text-decoration: inherit; /* Herda a decoração de texto */
}
a:hover {
  color: #535bf2; /* Cor do link ao passar o mouse */
}

/* Estilização do corpo da página */
body {
  margin: 0; /* Remove margens padrão */
  min-width: 320px; /* Largura mínima para dispositivos pequenos */
  min-height: 100vh; /* Altura mínima para ocupar a tela inteira */
  display: block; /* Define o corpo como um bloco */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
